<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="card">
          <img class="pic-home text-center" src="https://static.pexels.com/photos/1848/nature-sunny-red-flowers.jpg">
          <h3>1ere note</h3>
          <p class="section-par">Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem. Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus.</p>
          <p class="text-center"><progress value="40" max="100"></progress></p>
          <p class="text-center"><%= link_to t(".top_call_to_action", default: "Next step"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
