<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="card">
          <img class="pic-home text-center" src="https://static.pexels.com/photos/4322/person-woman-hand-space.jpg">
          <h3>Merci ! Pour aller plus loin :</h3>
          <ul class="list-unstyled section-par">
          <li><i class="fa fa-check-circle"></i></li>
          <li><i class="fa fa-check-circle"></i></li>
          <li><i class="fa fa-check-circle"></i></li>
          </ul>
          <p>Ci-dessus vos résultats, vous pouvez désormais bénéficier de plus de conseils et même d'un conseil personnalisé de Juliette, tester un autre parfum ou acheter celui-ci en 2 clics</p>
          <p class="text-center"><%= link_to t(".top_call_to_action", default: "Plus de conseils"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
          <p class="text-center"><%= link_to t(".top_call_to_action", default: "Tester un autre parfum"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
          <p class="text-center"><%= link_to t(".top_call_to_action", default: "Acheter pour 95€"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
