<h1>Congratulations!</h1>
<h2>Your order has been processed. </h2>
<p>You will receive soon an email with your delivery package tracking number.
Remember that this information will be also retrievable in <%= link_to("your account", account_orders_path)%> </p>
