/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Karma:400,300,500,600,700|Bitter:400,400italic,700|Abel|Parisienne");
$base-font: "Karma", "Helvetica", "sans-serif";
$header-font: "Abel", "Helvetica", "sans-serif";
$logo-font: "Parisienne", "cursive";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #B39A6A;
$gold: #B39A6A;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

// Colour personalized scheme

$darkish: #4C4C4B;
$grayish: #B5BAB4;
$yellowish: #DBC293;
$blueish: #114B5F;
$blueish2: #456990;
$greenish: #028090;
$redish: #F45B69;
$brownish: #B39A6A;
