/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-grey {
  background-color: $gray-lighter;
}

.wrapper-gold {
  background-color: #B39A6A;
}

.wrapper-white {
  background-color: white;
}

.wrapper-talking {
  background-color: #c9e6e6;
}

.pic-home {
height: 100%;
width: 100%;
text-align: center;
background-size: cover !important;
}

.section-title {
  font-size: 40px;
}

.section-par {
  margin-top: 30px;
  line-height: 30px;
  font-size: 17px;
}

.testimony-large {
  width: 50px;
  border-radius: 50%;
}
