.frame_address {
  border: 1px solid $gold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px $gray-light;
  width: 390px;
  margin-bottom: 30px;
}

