
<h1>Your payment method</h1>

<form action="/new_checkout_payment_path" method="get">
  <label for="card_number">Card number: </label>
  <input type="integer" id="card_number">

  <label for="validity">Validity: </label>
  <input type="integer" id="validity">

  <label for="CSV">CSV: </label>
  <input type="integer" id="CSV">

   <label for="Card owner name">Card owner name: </label>
  <input type="text" id="Card-owner-name">

  <input type="submit">
</form>


