<div class="container">
  <div class="row">
  <div class="banner">
    <div class="author">
    <div class="pic">

    </div>
    <div class="name">

    </div>
    </div>
    <div class="description">
    </div>
  </div>
  </div>
</div>
