<div class="banner" id="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/6404/woman-girl-young-beauty.jpg');">
  <div class="banner-content">
    <h1>Unique and exclusive fragrances made in Paris</h1>
    <p>Limited editions available online and
    for members only.</p>
    <div class="cta">
      <p>
        <form class="form-inline">
              <div class="form-group">
                <input type="text" class="hpsearch" placeholder="Enter your invitation code here" name="where">
              </div>
          <button type="submit" class="btn btn-success">Activate</button>
          </form>
      </p>
    </div>
      <p>
        <a href="#experience">Indulge in a unique sensory experience
        </a><br>
        <i class="fa fa-spinner fa-pulse"></i>
      </p>
  </div>
</div>
