<div class="wrapper-white">
  <div class="container padded">
    <div class="row">
      <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Où préférez-vous partir en vacances ?</h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div>
        <p class="text-center"><progress id="progressbar" value="20" max="100"></progress></p>
      </div>
    </div>
  </div>
</div>
