<div class="wrapper-gold">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="text-center section-title">Apprenez et découvrez vos sens de manière interactive</h3>
        <p class="section-par">Une découverte interactive pour découvrir les parfums</p>
        <p class="section-par">Une découverte interactive pour découvrir les parfums</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/7919/pexels-photo.jpg">
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%#= form_tag("#") do %>
          <p><%#= label_tag(:number, "Your coupon number") %>
          <%#= text_field_tag :number %></p>
          <p><%#= label_tag(:first_name, "Your first name") %>
          <%#= text_field_tag :first_name %></p>
          <p><%#= label_tag(:last_name, "Your last name") %>
          <%#= text_field_tag :last_name %></p>
          <p><%#= label_tag(:email, "Your email") %>
          <%#= text_field_tag :email %></p>
          <p><%#= label_tag(:address, "Your address") %>
          <%#= text_field_tag :full_address, :id => "user_input_autocomplete_address" %>

            <%#= simple_form_for(@address, url: checkout_address_path, method: :put, html: { class: "checkout-form" }) do |f| %>
            <%#= f.error_notification %>
            <%#= f.input :street, :input_html => { "data-autocomplete" => "street" }%>
            <%#= f.input :zip_code, :input_html => { "data-autocomplete" => "postal_code" } %>
            <%#= f.input :city, :input_html => { "data-autocomplete" => "locality" }%>
            <%#= f.input :country_code, :input_html => { "data-autocomplete" => "country" }, label: "Country" %>

            <%#= f.button :submit, t('.submit'), html: { class: "checkout-form" }%>
            <%# end %>

          </p>

          <%#= submit_tag %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
