<div class="wrapper-grey">
  <div class="container padded">
    <div class="row">
        <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Vivez une expérience olfactive unique</h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center " src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="section-list">
          <p>5 testeurs pour découvrir tous les parfums de la gamme aux multiples personnalités.</p>
          <p>Une découverte personnalisée pour apprendre sur chaque parfum et trouvez celui qui vous correspond.</p>
          <p>Votre parfum exclusif disponible en un clic, livré chez vous dans son coffret et avec sa recharge mobile.</p>
        <p class="section-par text-center"><%= link_to t(".top_call_to_action", default: "Recevoir une invitation"), "/", class: "navbar-wagon-item navbar-wagon-button btn" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper-white">
  <div class="container padded">
    <div class="row">
      <div class="hptitle"><h3 class="text-center section-title img-reveal col-xs-12">Où préférez-vous partir en vacances ?</h3></div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div id="experience" class="col-xs-12 col-sm-6">
        <div class="pic-frame">
        <img class="pic-home text-center" src="https://static.pexels.com/photos/26180/pexels-photo-26180.jpg">
        </div>
      </div>
      <div>
        <p class="text-center"><progress id="progressbar" value="20" max="100"></progress></p>
      </div>
    </div>
  </div>
</div>
 -->
