<%= render "banner" %>
<div class="container padded">
  <div class="row">
        <div id="experience">What you will experiment
        </div>
  </div>
  <div class="row">
        <div>How you will discover it?
        </div>
  </div>
  <div class="row">
        <div>Know more about Juliette Lacroix
        </div>
  </div>
  <div class="row">
        <div>They talk about us
        </div>
  </div>
</div>


