// Your footer style

.wrapper-footer1 {
 background: #2F2E2E;
 padding: 30px 0;
}

.wrapper-footer2 {
 background: #1e1e1e;
 padding: 30px 0;
}

.social-pics{
 margin-left: 50px;
 margin-right: 50px;
}

.footer-terms{
 margin-left: 30px;
 margin-right: 30px;
}

.icons {
  color: $gold;
}

#footer-nl {
  color: white;
}

.container {
  width: 980px;
}

.footer-form {
  .form-group {

    background-color: transparent;
    border-bottom: 2px solid rgba(179, 154, 106, .5);
  }
  .hpsearch {
    background-color: transparent;
    color: white;
    border:none;
    box-shadow: none;
    color: $gold;

  }

  .hpsearch::placeholder {
    color: $gold;
  }

  input {
  outline: none;
  border: 0px inset;
  width: 350px;
  text-align: justify;
  font-size: 16px;
  background-color: transparent;
}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #DBC293;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #DBC293;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #DBC293;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #DBC293;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #DBC293;
}

