.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-pagination {
  padding: 0px;
  margin-bottom: 0;
}

.owl-theme .owl-controls {
  margin-bottom: 20px;
}

.owl-wrapper{
  margin:0;
  padding:0;
}
