.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-pagination {
  padding: 0px;
  margin: 0;
}

.owl-theme .owl-buttons {
  margin-top: 2px;
}

.owl-wrapper{
  margin:0;
}
