
.perfume-circle {
  position: relative;
  width: 100%;
  margin-left: 226px;
  margin-bottom: 140px;
}

#perfume1 {
 position: absolute;
 top: 100px;
 left: 100px;
 transform: rotate(-90deg);
}

#perfume2 {
 position: absolute;
 top: -6px;
 left: 149px;
 transform: rotate(-45deg);
}

#perfume3 {
 position: absolute;
 top: -50px;
 left: 255px;
 transform: rotate(-0deg);
}

#perfume4 {
 position: absolute;
 top: -8px;
 left: 359px;
 transform: rotate(45deg);
}

#perfume5 {
 position: absolute;
 top: 100px;
 left: 400px;
 transform: rotate(90deg);
}

.perfume-pic{

  position: relative;
  width: 172px;
  margin:0;
  padding:0;


  img{
  height: 150px;
  }


  img.tested{
    .card-link{
      opacity: 0.1;
    };
    .card-link:hover{
      opacity: 5;
    };
  }

  .card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  width: 172px;
  background: black;
  opacity: 0.1;
}

  .card-link:hover {
    opacity: 0.2;
    }

}
